@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  transition: 1s ease color, .5s ease background;
}


*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
}


html {
  font-style: normal;
  line-height: normal;
}


.bg-instagram {
  background: linear-gradient(90deg, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
}

.bg-facebook {
  background: hsl(208, 92%, 53%);
}

.bg-twitter {
  background: hsl(203, 89%, 53%);
}

.bg-youtube {
  background: hsla(348, 97%, 39%)
}

.bg-darkToggle {
  background: linear-gradient(rgba(64, 219, 130, 1), rgba(56, 143, 231, 1));
}